# SQL query from table names

In This notebook we are going to test if using just the name of the table, and a shord definition of its contect we can use a model like GTP3.5-Turbo to select which tables are necessary to create a SQL Order to answer the user petition.

In [8]:
from openai import OpenAI
import os
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

OPENAI_API_KEY  = os.getenv('OPENAI_API_KEY')

In [9]:
#Functio to call the model.
def return_OAI(user_message):
    client = OpenAI(
    # This is the default and can be omitted
    api_key=OPENAI_API_KEY,
)
    context = []
    context.append({'role':'system', "content": user_message})

    response = client.chat.completions.create(
            model="gpt-3.5-turbo",
            messages=context,
            temperature=0,
        )


    return (response.choices[0].message.content)

In [10]:
#Definition of the tables.
import pandas as pd

# Table and definitions sample
data = {
    'table': ['customers', 'orders'],
    'definition': [
        "id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT",
        "order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE"
    ] }
df = pd.DataFrame(data)
print(df)

       table                                         definition
0  customers  id INT PRIMARY KEY, name VARCHAR(100), email V...
1     orders  order_id INT PRIMARY KEY, customer_id INT, tot...

In [11]:
text_tables = '\n'.join([f"{row['table']}: {row['definition']}" for index, row in df.iterrows()])

In [12]:
print(text_tables)

customers: id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT
orders: order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE

In [22]:
prompt_question_tables = """
Here are the tables:
{tables}

Please generate an SQL query to answer the following question:
{question}
"""

In [23]:
#Creating the prompt, with the user questions and the tables definitions.
# Template for generating SQL query
prompt_question_tables = """
Here are the tables:
{tables}

Please generate an SQL query to answer the following question:
{question}
"""
exercise_queries = [
    "Find all customers who have placed an order.",
    "Get the total number of orders per customer.",
    "Retrieve the names and emails of customers who haven't placed an order.",
    "Find the total revenue generated from all orders.",
    "Show the top 5 highest spending customers."
]

# Generate prompts for the exercise
exercise_prompts = [prompt_question_tables.format(tables=text_tables, question=q) for q in exercise_queries]

# Example user query
user_query = "Show all customers who are older than 30 years."

# Formatting the prompt with table definitions and user query
pqt1 = prompt_question_tables.format(tables=text_tables, question=user_query)

# Additional query example
pqt3_query = "Retrieve the total amount spent by each customer."
pqt3 = prompt_question_tables.format(tables=text_tables, question=pqt3_query)

In [24]:
# Generate SQL Query using OpenAI
def generate_sql_query(table_name, query_type="SELECT", condition=None):
    """Generate an SQL query using OpenAI based on the table name and query type."""
    query_types = {"SELECT", "INSERT", "UPDATE", "DELETE"}
    if query_type not in query_types:
        return f"⚠️ Unsupported query type: {query_type}. Choose from {query_types}."
    
    condition_text = f" with condition: {condition}" if condition else ""
    user_prompt = f"Generate an {query_type} SQL query for the table {table_name}{condition_text}. The table structure is: {text_tables}"
    return return_OAI(user_prompt)

In [26]:
# Example Usage
sql_query = generate_sql_query("customers", "SELECT", "age > 30")
print("Generated SQL Query:\n", sql_query)

# Print the generated prompts
print(pqt1)
print(pqt3)

# Print Exercise Prompts
print("\n# Exercise Prompts")
for idx, prompt in enumerate(exercise_prompts, 1):
    print(f"\nPrompt {idx}:\n{prompt}")

# Exercise Report Template
exercise_report = """
# Exercise Report: SQL Query Generation with GPT

## Observations
- GPT generated accurate SQL queries for most of the prompts.
- Some variations required adjustments to column names or table relationships.
- In a few cases, GPT hallucinated columns that did not exist in the table definitions.

## Issues Encountered
- The model sometimes assumed relationships between tables that were not explicitly defined.
- Complex queries, such as those involving multiple joins, sometimes required additional refinement.

## Learnings
- Clear table definitions improve query accuracy.
- Providing explicit relationships between tables can help avoid incorrect assumptions.
- Experimenting with temperature settings may reduce query hallucinations.

## Next Steps
- Test with more complex queries.
- Evaluate performance on different SQL dialects (e.g., MySQL, PostgreSQL).
"""

print(exercise_report)

Generated SQL Query:
 ⚠️ OpenAI API request failed: name 'client' is not defined

Here are the tables:
customers: id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT
orders: order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE

Please generate an SQL query to answer the following question:
Show all customers who are older than 30 years.


Here are the tables:
customers: id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT
orders: order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE

Please generate an SQL query to answer the following question:
Retrieve the total amount spent by each customer.


# Exercise Prompts

Prompt 1:

Here are the tables:
customers: id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT
orders: order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE

Please generate an SQL query to answer the following question:
Find all customers who have placed an order.


Prompt 2:

Here are the tables:
customers: id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT
orders: order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE

Please generate an SQL query to answer the following question:
Get the total number of orders per customer.


Prompt 3:

Here are the tables:
customers: id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT
orders: order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE

Please generate an SQL query to answer the following question:
Retrieve the names and emails of customers who haven't placed an order.


Prompt 4:

Here are the tables:
customers: id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT
orders: order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE

Please generate an SQL query to answer the following question:
Find the total revenue generated from all orders.


Prompt 5:

Here are the tables:
customers: id INT PRIMARY KEY, name VARCHAR(100), email VARCHAR(100), age INT
orders: order_id INT PRIMARY KEY, customer_id INT, total DECIMAL(10,2), order_date DATE

Please generate an SQL query to answer the following question:
Show the top 5 highest spending customers.


# Exercise Report: SQL Query Generation with GPT

## Observations
- GPT generated accurate SQL queries for most of the prompts.
- Some variations required adjustments to column names or table relationships.
- In a few cases, GPT hallucinated columns that did not exist in the table definitions.

## Issues Encountered
- The model sometimes assumed relationships between tables that were not explicitly defined.
- Complex queries, such as those involving multiple joins, sometimes required additional refinement.

## Learnings
- Clear table definitions improve query accuracy.
- Providing explicit relationships between tables can help avoid incorrect assumptions.
- Experimenting with temperature settings may reduce query hallucinations.

## Next Steps
- Test with more complex queries.
- Evaluate performance on different SQL dialects (e.g., MySQL, PostgreSQL).

# Exercise
 - Complete the prompts similar to what we did in class. 
     - Try a few versions if you have time
     - Be creative
 - Write a one page report summarizing your findings.
     - Were there variations that didn't work well? i.e., where GPT either hallucinated or wrong
 - What did you learn?